<!DOCTYPE html>
<html>
    <h1 class="osbig">About   Mezzo</h1>
    
    <p class="osw">Mezzo was created by 5 undergraduates from the University of California, Santa Barbara. Despite the flourishing indie music scene, they 
    noticed that it was difficult for musicians to meet other musicians without a go-between.</p>
    
    
</html>