/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

.osw {
  font-family: 'Oswald', sans-serif;
  font-size: 90%;
}

.osbig {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 50px;
}

body {
  padding-top: 110px;
}