// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/*
This would add 60 pixels of padding at the top of the page. 
body {
    padding-top: 60px;
}
*/
section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

/* all the .center refers to elements inside any tag that has <div class= ... > */
.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    //font-size: 4.5em;
    //color: #9400D3;    //dark violet
    //text-transform: lowercase;
    //letter-spacing: -1px;
    //font-weight: bold;
    //font-family: serif;
}

/* Only for text logo
#logo:hover {
    //color: #fff;
    font-style: italic;
    text-transform: lowercase;
}
*/

#profile {
    float: right;
    font-size: 1.5em;
    padding-top: 20%;
    font-weight: bold;
}

#profile:hover {
    font-style: italic;
}

#signout {
    float: right;
    font-size: 1.2em;
    padding-top: 39%;
}

#signout:hover{
    font-style: italic;
}

/* footer */
footer {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer small {
    float: left;
    padding-left: 15px;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
    padding-right: 10px;
}