<footer class="footer osw">
    <small>
        The official website of Mezzo
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
    
</footer>